{% extends "base.html" %}
{% block content %}
<h1> NEXABYTE - ALL PRODUCTS</h1>
<p>{{ products|length }} items available</p>
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Status</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>
            <a href="{{url_for('detail_search', id=product.id)}}">{{product.name}}</a>
        </td>
        <td>${{product.price}}</td>
        <td>{{product.category}}</td>
        <td>
            {% if product.in_stock %}
            <span style="color:green;">In Stock</span>
            {% else%}
            <span style="color: red;">Out of stock</span>
            {% endif %}
        </td>
        <td>
            {% if session.get("logged_in") %}
            <form action="/delete/{{product.id}}" method="POST" style="display:inline;">
                <button type="submit" onclick="return confirm('Delete this product ?')">
                    Delete
                </button>
            </form>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
<br>
{% if session.get("logged_in") %}
<a href="{{url_for('add_product')}}" style="color:rgb(255, 217, 0);">Add New Product</a>
{% endif %}
{% endblock %}